.container-wrapper {
  padding: 0;
  position: relative;
}

.inner {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.menu-row {
  position: absolute;
  width: 100%;
  z-index: 100;
}

nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.mobile-menu {
  display: none;
  width: 50px;
  height: auto;
  margin: 0 15px 0 0;
}

.mobile-menu:hover {
  cursor: pointer;
}

.logo {
  width: 142px;
  height: 53px;
}

.menu-list {
  padding: 0;
  list-style: none;
}

.menu-list li {
  display: inline-block;
}

.menu-link {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #f4f5f9;
  text-transform: uppercase;
  padding: 0 5px 20px 5px;
  margin: 0 23px;
}

.menu-link:hover {
  text-decoration: none;
  color: #e74c3c;
  border-bottom: 2px solid #e74c3c;
}

@media screen and (max-width: 1040px) {
  .menu-row {
    position: static;
    background-color: #000000;
  }
  nav {
    padding: 10px;
  }
  .menu-list {
    display: none;
    position: absolute;
    top: 73px;
    right: 0;
    z-index: 100;
    width: 300px;
    border-top: 1px solid #e74c3c;
    background-color: #000000;
  }
  .menu-list li {
    display: block;
    border-bottom: 1px solid #e74c3c;
    text-align: center;
    padding: 15px 0;
  }
  .menu-link {
    padding: 0;
  }
  .menu-link:hover {
    border: none;
  }
  .mobile-menu {
    display: block;
  }
}

@media screen and (min-width: 1041px) {
  .menu-list {
    display: block !important;
  }
}

.carousel-indicators {
  display: none;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.glyphicon-menu-left, .glyphicon-menu-right {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 40px;
  margin-top: -20px;
  color: transparent;
  padding: 10px;
  background-color: #716a65;
}

.glyphicon-menu-left:hover, .glyphicon-menu-right:hover {
  background-color: #e74c3c;
}

.glyphicon-menu-right {
  left: auto;
  right: 40px;
}

.carousel-caption {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.carousel-inner > .item > img {
  width: 100vw;
}

.carousel-subtitle {
  font-family: "Open Sans", sans-serif;
  color: #f4f5f9;
  margin: 0;
  padding: 0;
  margin: 0 0 45px 0;
  font-size: 24px;
}

.carousel-title {
  font-family: "Open Sans", sans-serif;
  color: #f4f5f9;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 7px;
  margin: 0 0 40px 0;
}

.divider {
  margin: 0 0 40px 0;
}

.carousel-text {
  font-family: "Open Sans", sans-serif;
  color: #f4f5f9;
  margin: 0;
  padding: 0;
  color: #cbc6c0;
  font-size: 14px;
  margin: 0 auto;
  width: 100%;
  max-width: 580px;
  text-align: center;
}

.carousel-buttons-wrapper {
  padding: 65px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.carousel-button {
  font-family: "Open Sans", sans-serif;
  color: #f4f5f9;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  border: 1px solid #ffffff;
  text-align: center;
  width: calc(50% - 15px);
  transition: all 0.3s ease-in;
  padding: 20px 0;
}

.carousel-button:hover {
  background-color: #e74c3c;
  border: none;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  .carousel-subtitle {
    font-size: 20px;
    margin: 0 0 20px 0;
  }
  .carousel-title {
    font-size: 50px;
    margin: 0 0 20px 0;
  }
  .divider {
    margin: 0 0 20px 0;
  }
  .carousel-buttons-wrapper {
    padding: 20px 0;
  }
}

@media screen and (max-width: 1040px) {
  .carousel-caption {
    top: 35%;
  }
  .carousel-subtitle {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  .carousel-title {
    font-size: 35px;
    margin: 0 0 10px 0;
  }
  .divider {
    margin: 0 0 10px 0;
  }
  .carousel-buttons-wrapper {
    padding: 10px 0;
  }
  .carousel-button {
    width: 40%;
    padding: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .glyphicon-menu-left, .glyphicon-menu-right {
    padding: 5px;
    left: 10px;
  }
  .glyphicon-menu-right {
    left: auto;
    right: 10px;
  }
}

@media screen and (max-width: 700px) {
  .carousel-subtitle, .caruosel-text {
    display: none;
  }
  .carousel-button {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 580px) {
  .carousel-caption {
    top: 28%;
  }
  .carousel-title {
    font-size: 18px;
  }
  .carousel-button {
    font-size: 12px;
    margin: 0 0 5px 0;
    width: 100%;
  }
  .carousel-text {
    font-size: 11px;
  }
  .carousel-buttons-wrapper {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .carousel-caption {
    top: 28%;
  }
  .carousel-text {
    display: none;
  }
  .carousel-title {
    font-size: 14px;
    margin: 0 0 5px 0;
  }
  .divider {
    display: none;
  }
  .carousel-button {
    font-size: 11px;
    margin: 0 0 10px 0;
    padding: 5px 0;
  }
  .carousel-buttons-wrapper {
    padding: 3px 0;
  }
}

.down-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.units-wrapper {
  margin: 125px auto 65px auto;
}

.unit {
  margin: 0 0 50px 0;
}

.unit-header {
  text-align: center;
}

.unit-header:hover {
  cursor: pointer;
}

.unit-header:hover .unit-icon-wrapper {
  border: 1px solid #ea6153;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.unit-header:hover .unit-icon-wrapper .unit-icon {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.unit-header:hover .unit-title {
  color: #ea6153;
}

.unit-icon-wrapper {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e5e5e5;
  transition: all 0.6s ease-out;
}

.unit-title {
  margin: 30px 0 0 0;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #6a6a6a;
  font-size: 18px;
  transition: all 0.2s ease-out;
}

.unit-divider {
  margin: 20px auto;
  border-bottom: 1px solid #6a6a6a;
  width: 40px;
}

.unit-text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #999999;
  text-align: center;
  line-height: 1.8em;
}

.footer-row {
  background-color: #202020;
}

.footer-wrapper {
  min-height: 90px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-list li {
  display: inline-block;
  margin: 0 10px;
}

.footer-list a {
  color: #999999;
  font-size: 25px;
  transition: all 0.2s ease-in;
}

.footer-list a:hover {
  color: #e74c3c;
}

.copyrights {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #999999;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 20px 5px;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .copyrights {
    font-size: 12px;
    margin: 0 0 15px 0;
  }
  .footer-list li a {
    font-size: 20px;
  }
}
