extends includes/_main
block title
    title Uptown Liquors | Home

block bottomWrapper
    .bottom-wrapper
        h1.title.bottom-title Welcome
        p.bottom-text Uptown Liquors is a locally owned business in the heart of Uptown, Dallas that specializes
            | in providing premium spirits, wines, craft beers, and tobacco products. Customer service is number one
            | priority to the owner and each employee. We strive to give each customer a unique shopping experience
            | by offering a wide range of products, optional customer ordering, and knowledgeable employees to
            | assist in any purchasing decision.
block beforeMain
    - mainClasses.push('home')