.header-section {
  background-image: url(../img/slider_3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh; }

nav {
  position: fixed;
  z-index: 100;
  padding: 30px 50px;
  width: 100%;
  max-width: 1600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }

.logo-wrapper a {
  color: #262626;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .logo-wrapper a:hover {
    color: #2BC1C5; }

.burger-wrapper {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  display: none; }
  .burger-wrapper i {
    font-size: 35px; }

.main-nav {
  margin: 0;
  padding: 0; }
  .main-nav li {
    display: inline-block;
    padding: 0 20px; }
    .main-nav li a {
      color: #262626;
      text-transform: uppercase;
      font-family: Raleway, sans-serif;
      font-size: 13px;
      font-weight: 500; }
      .main-nav li a:hover {
        color: #2bc1c5;
        text-decoration: none; }
      .main-nav li a:focus {
        color: #2bc1c5;
        text-decoration: none; }

.active {
  color: #2bc1c5 !important; }

.login-wrapper {
  opacity: 0;
  margin: 0 0 0 170px; }

li.login-wrapper > a {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  padding: 11px 62.5px 10px 62.5px;
  background-color: rgba(15, 15, 15, 0.6);
  border: 2px solid #2bc1c5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative; }
  li.login-wrapper > a:hover {
    background-color: #2bc1c5;
    text-decoration: none;
    color: #fff; }

.header__slider--text {
  font-family: Raleway, sans-serif;
  font-size: 15px;
  color: #262626;
  line-height: 18px;
  letter-spacing: 1px; }

.header__slider--subtitle {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #262626;
  font-weight: 700;
  margin: 15px 0 50px 0; }

.header__slider--cta {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  padding: 14px 34px;
  background-color: rgba(15, 15, 15, 0.5);
  border: 2px solid #2bc1c5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative; }
  .header__slider--cta:hover {
    background-color: #2bc1c5;
    text-decoration: none;
    color: #fff; }

.request-demo {
  position: relative; }

.arrow-left {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #2bc1c5;
  z-index: 2; }

.arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #2bc1c5; }

.item-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.12); }

.white-nav {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65) !important;
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65) !important; }

.header__carousel--caption {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -115px 0 0 -380px;
  width: 100%;
  max-width: 760px;
  padding: 50px 25px;
  text-align: center; }
  .header__carousel--caption .header__slider--cta {
    background-color: rgba(0, 0, 0, 0.7); }
    .header__carousel--caption .header__slider--cta:hover {
      background-color: #2bc1c5; }

@media all and (max-width: 1280px) {
  .login-wrapper {
    margin: 0 0 0 100px; } }

@media all and (max-width: 1150px) {
  nav {
    padding: 15px 30px; }
  .main-nav li {
    padding: 0 15px; } }

@media all and (max-width: 1050px) {
  .burger-wrapper {
    display: block; }
    .burger-wrapper:hover {
      cursor: pointer; }
  .main-nav {
    display: none;
    margin: 30px 0 0 0;
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    width: 100vw;
    border-top: 2px solid #e3e3e3; }
    .main-nav li {
      display: block;
      text-align: center;
      padding: 0; }
      .main-nav li a {
        display: block;
        font-size: 16px;
        padding: 12px 0; }
        .main-nav li a:hover {
          background-color: #f3f3f3; }
      .main-nav li:first-child {
        margin: 10px 0 0 0; }
  .login-wrapper {
    margin: 0; }
  li.login-wrapper > a {
    background-color: rgba(0, 0, 0, 0.7); }
    li.login-wrapper > a:hover {
      background-color: #2bc1c5; } }

@media all and (min-width: 1051px) {
  .main-nav {
    display: block !important; } }

@media all and (max-width: 900px) {
  .header__carousel--caption {
    left: auto;
    margin: -155px 0 0 0;
    max-width: none; } }

@media all and (max-width: 600px) {
  .item-mask {
    background-color: rgba(255, 255, 255, 0.3); }
  .header__carousel--caption {
    margin: -195px 0 0 0; }
  .header__slider--subtitle {
    font-size: 34px; }
  .header-section {
    height: 700px; } }
