@import "variables";
// Case Study Section styles

.case-study__section--title {
  font-size: 18px;
  font-family: $main_font;
  font-weight: 600;
  letter-spacing: 1px;
  color: $font_grey;
  text-align: center;
  margin: 100px 0 20px 0;
}

.case-study__items--wrapper {
  margin: 60px 0;
}

.case-study__item--inner {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.case-study__item--mask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: all 0.3s ease-in;
}

.case-study__item--cta-wrapper {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -90px;
  z-index: 1;
  transition: all 0.3s ease-in;
}

.one-case {
  margin: -20px 0 0 -90px;
}

.case-study__item--cta {
  color: $white;
  font-size: 12px;
  text-transform: uppercase;
  font-family: $main_font;
  padding: 12px 0;
  width: 180px;
  display: block;
  text-align: center;
  margin: 0 auto 15px auto;
  background-color: rgba(15,15,15,0.5);
  border: 2px solid $nav_hover;
  transition: all 0.2s ease-in;
  position: relative;
  &:hover {
    background-color: $nav_hover;
    text-decoration: none;
    color: $white;
  }
  &:focus {
    color: $white;
    text-decoration: none;
  }
}

.case-study__item--image {
  width: 100%;
  height: auto;
}


.case-study__image--wrapper {
  position: relative;
  &:hover .case-study__item--mask {
    opacity: 1;
  }
  &:hover .case-study__item--cta-wrapper {
    opacity: 1;
    z-index: 5;
  }
  &:hover {
    cursor: pointer;
  }
}


.case-study__item--subtitle {
  font-family: $open_sans;
  font-style: italic;
  font-weight: 400;
  color: $font_grey;
  font-size: 13px;
  letter-spacing: 1px;
}


.case-study__item--title {
  color: $nav_main;
  font-size: 16px;
  line-height: 19px;
  font-family: $main_font;
  font-weight: 600;
  margin: 0 0 12px 0;
}

.case-study__item--text {
  font-size: 13px;
  color: $font_grey;
  line-height: 21px;
  margin:0 0 12px 0;
  padding: 12px 0 0 0;
  border-top: 1px solid #e1e1e1;
}

@media all and (max-width: 992px){
  .case-study__item {
    margin: 0 0 50px 0;
  }
}