@import "variables";
// Services Section styles

.services-section {
  padding: 0 10px 0 10px;
}

.services__items--wrapper {
  margin: 60px 0 0 0;
}

.services__item--inner {
  max-width: 280px;
  margin: 0 0 30px 25px;
  position: relative;
  padding: 0 0 0 70px;
  height: 136px;
  i {
    font-size: 50px;
    position: absolute;
    left: 0;
  }
}

.services__item--title {
  color: $nav_main;
  font-family: $main_font;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
}

.services__item--text {
  color: #696969;
  font-size: 13px;
  font-family: $main_font;
  line-height: 26px;
}

@media all and (max-width: 767px){
  .services__item--inner {
    margin:0 auto 30px auto;
  }
}