//------------------
// Variables
//------------------

// 1. Colors

$logo_main: #262626;
$logo_hover: #2BC1C5;
$nav_main: #262626;
$nav_hover: #2bc1c5;
$white: #fff;
$grey: #878787;
$section_grey: #f6f6f6;
$font_grey: #696969;


// 2. Fonts

$main_font: Raleway, sans-serif;
$open_sans: Open Sans, sans-serif;
