// Variables
$main-bg: #ffffff;
$light-grey-bg: #f8f8f8;
$slider-bg: #252525;
$default-font: #a6a6a6;
$grey-font: #6a6a6a;
$dark-font: #747474;
$menu-hover: #59ddfe;
$menu-item-border: #33d6ff;
$block-border: #ebebeb;
$button-blue: #45d8fd;
$button-orange: #fa9b1b;

// Mixins
@mixin fontStyles {
  font-family: "Open Sans", sans-serif;
  color: $default-font;
  font-size: 14px;
}


// Main Styles

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}


// Navigation

.page-nav {
  background-color: $main-bg;
  margin: 0;
  border: none;
  padding: 50px 0 0 0;
}

.brand-wrapper {
  height: 40px;
  padding: 7px 0;
  line-height: 40px;
}

.logo-img {
  width: 100%;
  height: auto;
}

#main-menu {
  padding: 0;
  margin: 0 -15px 0 0;
}

#main-menu .menu-list {

li {
  margin: 0 7.5px;
}

a {
  @include fontStyles;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 0 0 50px 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in;
  &:hover {
  color: $main-bg;
  background-color: $menu-hover;
  border-radius: 4px;
}
} // a

  .item-active {
    font-weight: 600;
    color: $dark-font;
    border-bottom: 3px solid $menu-item-border;
    padding: 10px 15px 57px 15px;
    margin: 0;
    transition: none;
    &:hover{border:none; padding: 10px 15px;
      margin: 0 0 50px 0;
    }
  }// .item-active
}// .menu-list

.item-active {
  padding: 10px 15px 57px 15px;
  margin: 0 ;
}
@media screen and (max-width: 1000px) {
  .container>.navbar-header {
    margin: 0;
  }
  .brand-wrapper {
    padding: 7px 5px;
  }
}
@media screen and (max-width: 768px) {
  .page-nav {
    padding: 0;
  }

  .brand-wrapper {
    padding: 12px 5px;
    height: 50px;
    line-height: 50px;
  }

  #main-menu, .menu-list {
    margin: 0;
  }

  #main-menu .menu-list {
    a {
      margin: 0 0 5px 0;
    }
    .item-active{
      border: none;
      margin: 0;
      padding: 10px 15px;
    }
  }
}// @media 767px


// Slider

.carousel-container {
  background-color: $slider-bg;
  padding: 0;
}

#slider {
  min-height: 260px;
}

.carousel-inner {
.item {
  min-height: 260px;
}
}

.slider-title {
  @include fontStyles;
  color: $main-bg;
  font-size: 36px;
  margin: 0;
  padding: 110.5px 0;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  text-shadow: none;
  opacity: 1;
  &:hover {
    opacity: 1;
  }
  &:hover .arrow-left {
    background-image: url('../img/arrow--left-(-hover-).png');
  }
  &:hover .arrow-right {
    background-image: url('../img/arrow--right-(-hover-).png');
  }
}
.arrow-left,.arrow-right {
  width: 24px;
  height: 54px;
  position: absolute;
  top: 50%;
  margin: -27px 0 10px 0;
}
.arrow-left {
  background-image: url('../img/arrow--left.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s ease-in;
}
.arrow-right {
  @extend .arrow-left;
  right: 0;
  background-image: url('../img/arrow--right.png');
}

.carousel-indicators li {
  background-color: $main-bg;
  width: 8px;
  height: 8px;
  margin: 1px 5px;
}

.carousel-indicators .active {
  background-color: $slider-bg;
  border: 2px solid $main-bg;
  width: 8px;
  height: 8px;
  margin: 1px 5px;
}
  // Promotion

.promotion-wrapper {
  border-bottom: 1px solid $block-border;
  padding: 75px 0 70px 0;
}

.promotion-title {
  @include fontStyles;
  font-weight: 300;
  font-size: 36px;
  color: $dark-font;
  margin: 0;
}

.strong {
  font-weight: 600;
}

.promo-buttons-wrapper{
  margin: 40px 0 0 0;
}
.promotion-button {
  @include fontStyles;
  color: $main-bg;
  font-weight: 600;
  font-size: 18px;
  padding: 18px 35px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  margin: 0 15px;
  display: inline-block;
  &:hover {
    text-decoration: none;
    color: $main-bg;
    background-color: $dark-font;
  }
}
.blue {
  background-color: $button-blue;
}
.orange {
  background-color: $button-orange;
}

@media screen and (max-width: 450px) {
  .promotion-button{
    padding: 10px 15px;
  }
}

// App
.app-wrapper {
  padding: 100px 0 70px 0;
  height: 650px;
}

.app-content {
  overflow: visible;
}

.app-title {
  @include fontStyles;
  color: $dark-font;
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}

.app-text {
  @include fontStyles;
  color: $default-font;
  font-size: 18px;
  font-weight: 300;
  margin: 35px 0 40px 0;
  width: calc(100% + 150px);
}

.app-img-wrapper {
  position: relative;
  height: 100%;
}

.app {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  .app-wrapper{
    height: auto;
  }
  .app {
    position: static;
  }
  .app-text {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .app-content {
    margin: 0 0 80px 0;
  }
}


// Download Block

.download-row {
  background-color: $light-grey-bg;
  min-height: 170px;
  margin: 0 -15px;
}

.download-wrapper {
  padding: 57px 0;
}

.download-title {
  @include fontStyles;
  color: $grey-font;
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  padding: 0 70px 0 0;
  line-height: 56px;
}

.get-now-button {
  @include fontStyles;
  color: $main-bg;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px 0;
  display: block;
  max-width: 140px;
  text-align: center;
  border-radius: 4px;
  margin: 0 auto;
  &:hover {
    background-color: $dark-font;
    color: $main-bg;
    text-decoration: none;
  }
}

@media screen and (max-width: 999px) {
  .download-wrapper {
    padding: 50px 10px;
  }
  .download-title {
    text-align: center;
    padding: 0;
  }
}


// Footer

.footer-wrapper {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list {
  li {
    padding: 0 8px;
  }
}

.copyrights {
  @include fontStyles;
  color: $grey-font;
  font-size: 16px;
}

.author-link {
  font-weight: 600;
  color: $grey-font;
  &:hover {
    color: $grey-font;
  }
}

@media screen and (max-width: 600px) {
  .footer-wrapper{
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .author-link {
    font-size: 14px;
  }
  .copyrights {
    text-align: center;
  }
}


