- var mainClasses = []
include _head
    body
        block beforeMain

        main(class=mainClasses)
            .logo-wrapper
                 img.logo(src="img/logo.png" alt="logo")
            .burger
                 i.fa.fa-bars
            ul.main-menu
                 li: a(href="index.html") Home
                 li: a(href="events.html") Events
            .title-wrapper
                 h1.title.top-title The heart of Uptown in Dallas
                 ul.social-list
                      li: a: i.fa.fa-twitter
                      li: a: i.fa.fa-facebook
                      li: a: i.fa.fa-instagram
                      li Follow Us
            block bottomWrapper
                 .bottom-wrapper
                     h1.title.bottom-title EVENTS
                     p.bottom-text Uptown Liquors can provide alcoholic beverages for any planned occasion and offers bulk ordering
                         | at a discount. The owner directly handles each customizable order as a liquor consultant that can create a
                         |  list of recommendations based on the customers’ overall needs.  We partner with many bartending services
                         |   throughout the Dallas Metro Area and would love to assist you in making your planned occasion easier and
                         |    affordable. For more information, please contact us.
            footer
                 p.copy © 2017 Uptown Liquors.
                 p.bgraphics Website by
                     a(href="https://bgraphic.net/" target="_blank")  Bgraphic.

        include _scripts

