section.first__section

    d.f__section--logo: img.f__section--logo-img(src="img/logo-st1.png" alt="logo")

    p.f__section--intro On the next page, we're going to introduce you to 5 amazing potential Baes that made it to the finals.

    div.f__section--mans: img.f__section--mans-img(src="img/baes.png")

    p.f__section--text
        span.white-lg if you&nbsp;
        span.pale-lg win,&nbsp;
        | you'll pick the bae you like most then you're both headed to a
        br
        span.white-lg free trip to&nbsp;
        span.pale-lg Paris!

    form.main_form
        input(type="email" name="email" placeholder="Your Email" required)
        button.main_form--submit(type="submit") Meet The Baes

    p.progress  step 1/3