doctype html
html
    head
        block meta
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        block OpenGraph
            meta(property="og:url"           content="http://www.your-domain.com/your-page.html")
            meta(property="og:type"          content="website")
            meta(property="og:title"         content="TEST")
            meta(property="og:description"   content="TEST description with a long long long text")
            meta(property="og:image"         content="img/bg-1.jpg")
        block title
            title TEST
        block styles
            // Fonts
            link(href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet")
            // Custom styles
            link(rel="stylesheet" href="css/style.min.css")



