section.third__section

    div.t__section--logo: img.t__section--logo-img(src="img/logo-st3.png" alt="logo")

    h2.thanks__text Thanks very much for entering and sharing!

    p.winner__text Contest winner will be announced by email and on social media in 4 weeks.

    a.visit__button(href="") Visit innclusive.com to plan your next travel!

    div.t__section--happy: img.t__section--happy-img(src="img/Happy-Travels.png" alt="happy travels")

    p.progress  step 3/3

